<!DOCTYPE html>
<html>
  <head>
    <title>DesafioBackend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript_and_css_packs %>
  </head>

  <body data-spy="scroll" data-target=".fixed-top" data-flash-message="<%= flash[:notice] %>">
    <%= yield %>
  </body>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-col first">
            <h5>Sobre Rank de Gastos</h5>
            <p class="p-small">Projeto realizado para o processo seletivo da AgendaEdu.</p>
          </div>
          <div class="footer-col second">
            <h5>Desenvolvedor</h5>
            <ul class="list-unstyled li-space-lg p-small">
              <li class="media">
                <div class="media-body">José Gustavo</div>
              </li>
              <li class="media">
                <div class="media-body"><span>GitHub: <a href="https://github.com/machado-jose" target='_blank'>https://github.com/machado-jose</a></span></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    console.log('oi')
    $(function(){
      body = document.querySelector('body')
      if(body.dataset.flashMessage.length > 0){
        toastr.info(body.dataset.flashMessage)
      }
    })
  </script>
</html>
